<h1>Original, Peer Reviewed Articles</h1>

<ul>
<% @publications.each do |pub| %>
  <li><%= link_to pub.title, publication_path(pub)%></li>
<% end %>
</ul>




<li><%= link_to "Add New Article", new_publication_path%></li>


