/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  /**{
    margin: 0 auto;
} */



   html,body{
    margin: 0;
    padding: 0;
    height: 100%;

  }
  #container{
    /*margin: 0;*/
    /*padding: 0;*/
    /*min-height: 100%*/
    /*width: 100vw;*/
    /*position: relative;*/
    /*overflow: scroll; */

  }

  nav{
    height: 30px;
    width: 100vw;
    margin: 0;
  }

  nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: /*white*/ #F5F0F0;
  background-image: linear-gradient(to right, #F5F0F0 -30%, #6B5350 100%);
  overflow: hidden;
  font-family: 'Droid Serif', serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Raleway', sans-serif;
  position: fixed;
  width: 100%;



  }

  nav li{
    float: left;
    border-color: #F5F0F0;
  }

  nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;

  }
  nav li a:hover{
    font-size: 20px;
    color: #F5F0F0;
    border-bottom: 3px #F5F0F0;
    border-top: 3px #F5F0F0;
    border-color: 2px solid #F5F0F0;


  }


  #header{
    margin: 0;
    height: 260px;
    width: 100vw;
    background-image: linear-gradient(to right, #F5F0F0 -30%, #6B5350 100%);
    color: #F5F0F0;
    text-align: center;
    font-family: 'Droid Serif', serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
  }

  nav{
    margin: none;
  }

  #pic{
         flex: 1;
         width:300px;
         background-image: url(../images/BioPicDH.png);
         background-repeat: no-repeat;
         margin-top: 45px;
         margin-left: 30px;


     }

 #para{
         flex: 2;
         width:300px;
         text-align: left;
         font-family: 'Droid Serif', serif;
         font-family: 'Quicksand', sans-serif;
         font-family: 'Raleway', sans-serif;
         font-size: 16px;
         padding-right: 20px;
         color: #1C1211;
     }

  .sections{
    height:auto;
    width: 100vw;
    text-align: center;
    border-color: solid black;
    border:3px;


  }

  #sec1{
    text-align: center;
    border-color: solid black;
    height: auto;
  }

  #sec2{
    text-align: center;
    border-color: solid black;
  }

  footer{
    height: 100px;
    width: 100vw;
    display: flex;
    position: relative;
    bottom: 0;
  }


  .footer{
    flex: 1;
    height: 100px;
    width: 100vw;

    margin-top: 750px;

    background-color: #6B5350;
    text-align: center;

    text-align: center;
    color: #F5F0F0;
    font-size: 20px;
    font-family: 'Droid Serif', serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
  }

  .social{

    margin-top: 20px;
    padding-left: 10px;

  }
  td{
    margin-top: 20px;
    padding-left: 15px;
    padding-top: 30px;

  }
  p{
    margin-top: 40px;
  }


     body{
     margin: 0;
     }

     #sec1{
         height:auto;
         width:100vw;
         display: flex;
     }


     #pic{
         flex: 1;
         width:300px;
         background-image: url(images/BioPicDH.png);
         background-repeat: no-repeat;
         margin-top: 45px;
         margin-left: 30px;


     }



     h1{
         font-size: 50px;
     }

     h2{
         font-weight: bold;
     }

     a{
         text-decoration: none;
         color: #F5F0F0;
     }

  #pub{
         font-family: 'Raleway', sans-serif;
         color: /*#1C1211*/ black;
     }

     .categories{
         height: auto;
         width: 90vw;
         text-align: left;
         font-family: 'Raleway', sans-serif;
         color: black /*#1C1211*/;
     }

     #indexSection{
         height:auto;
         width:100vw;

     }
     #indexContainer{
         height:auto;
         width:100vw;
     }
     .indexSec1{
         height:auto;
         width:100vw;

     }

  #indexPic{
        /*padding:10px;*/
         background-image: url(/images/brownstone.jpeg);
         position: absolute;
     }

  #indexQuote{
         height:300px;
         width: 600px;
         font-size: 30px;
         font-family: 'Raleway', sans-serif;
         text-align: left;
         color: #6B5350;
         font-style: italic;
         margin-top: 200px;
         position: absolute;
     }

  .indexMain{
         height: 600px;
         width: 500px;
         background-position: center;
         background-repeat: no-repeat;
         margin: 30px;
         display: inline-block;
         vertical-align: top;
     }
